body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('img/emptykitchen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

header {
    background-color: burlywood;
    padding: 20px;
    margin: 0 auto;
    font-size: 1.5rem;
}

h1 {
    margin: 0;
    font-weight: 800;
    font-size: 4rem;
    color: #333;
}

.underh1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    padding: 0;
}	

p {
    font-family: cursive;
    font-size: 1.3rem;
    font-weight: 500;
    color: #333;
}

h2 {
    font-family: Fantasy;
    font-size: 2rem;
    font-weight: 450;
    color: #333;
}

.container {
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 150px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

section {
    border-color: #333;
}

.step {
    display: none;
    padding: 20px;
    border-radius: 10px;
    border-color: white;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.step:target {
    display: block;
}

body:not(:has(:target)) #step1 {
    display: block;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
}

.next {
    background-color: rgb(193, 157, 109);
}

.prev {
    background-color: rgb(114, 82, 53);
}

.restart {
    background-color: rgb(173, 103, 32);
}

a:hover {
    opacity: 0.8;
}

i {
    margin-right: 8px;
    color: #ff6600;
}

.container:focus-within {
    outline: 3px solid rgb(173, 103, 32);
}
a:focus {
    outline: 3px dashed rgb(173, 103, 32);
    background-color: rgba(255, 102, 0, 0.2);
}